# Token Telegram Bot (didapatkan dari BotFather)
TELEGRAM_BOT_TOKEN=isi_token_bot_anda

# Whitelist Chat ID yang diizinkan untuk mengakses bot (pisahkan dengan koma, misal: 1234567,7654321)
# Biarkan kosong jika ingin bot merespon semua user (untuk keperluan demo)
ALLOWED_CHAT_IDS=
